<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
            <!-- Collection of nav links and other content for toggling -->
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/" onclick="gtag('event', 'click', {'event_category': 'navbar', 'event_label': 'home'});"><i class="fa fa-home fa-lg fa-fw"></i> Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/research.html" onclick="gtag('event', 'click', {'event_category': 'navbar', 'event_label': 'research'});"><i class="fa fa-list fa-lg fa-fw"></i> Research</a></li>
                <li class="nav-item"><a class="nav-link" href="/ai-notes.html" onclick="gtag('event', 'click', {'event_category': 'navbar', 'event_label': 'ai-notes'});"><i class="fa fa-brain fa-lg fa-fw"></i> AI Notes</a></li>
                <li class="nav-item"><a class="nav-link" href="/coaching.html" onclick="gtag('event', 'click', {'event_category': 'navbar', 'event_label': 'coaching'});"><i class="fa fa-comments fa-lg fa-fw"></i> Coaching</a></li>
                <!--<li class="nav-item"><a class="nav-link" href="/posts.html" onclick="gtag('event', 'click', {'event_category': 'navbar', 'event_label': 'posts'});"><i class="fa fa-pencil fa-lg fa-fw"></i> Posts</a></span>-->
                <!--<li class="nav-item"><a class="nav-link" href="https://twitter.com/albertlumbreras" onclick="gtag('event', 'click', {'event_category': 'navbar', 'event_label': 'twitter'});"><i class="fa fa-twitter fa-lg fa-fw"></i></a></li>-->
                <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/albertolumbreras" onclick="gtag('event', 'click', {'event_category': 'navbar', 'event_label': 'linkedin'});"><i class="fab fa-linkedin fa-lg fa-fw"></i> LinkedIn</a></li>
                <!--<li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/assets/files/alumbreras_cv.pdf" onclick="gtag('event', 'click', {'event_category': 'navbar', 'event_label': 'cv'});"><i class="fa fa-file-pdf-o fa-lg fa-fw" aria-hidden="true"></i> CV</a></li>-->
            </ul>
        </div>
    </div>
</nav>

