---
layout: default
---
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>{{ page.title }}</h1>
      <p class="text-muted">{{ page.date | date: "%B %d, %Y" }}</p>

      <a href="{{ page.pdf_link }}" target="_blank">
        <img src="{{ page.cover_image }}" alt="{{ page.title }}" class="img-fluid mb-4" style="cursor: pointer;">
      </a>


      <h3>Abstract</h3>
      <p>{{ page.abstract }}</p>
      
      <a href="{{ page.pdf_link }}" class="btn btn-secondary mt-3" target="_blank">View Full Presentation</a>
    </div>
  </div>
</div>